<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">UMD 10 Mans</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-start"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav me-auto">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
        </ul>
        <div class="btn-group">
          <button class="btn btn-danger" (click)="umdLogin()" id="umdLogin">UMD</button>
          <button class="btn btn-danger" (click)="steamLogin()" id="steamLogin">Steam</button>
        </div>
      </div>
    </div>
  </nav>
</header>